<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="shortcut icon" href="https://www.tanishq.co.in/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <style>
        #page_layout{
            width: 100%;
        }
        #place_order{
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid black;
            margin: 0 0 0 15px;
        }
        #place_order h3 {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            margin: 25px 0 0 65px;
            letter-spacing:1.5px;
        }
        #page_layout2{
            width: 95%;
            margin-left: 3%;
        }
        #signed{
            width: 88%;
            height: 85px;
            display: grid;
            grid-template-columns: 50px 160px 500px;
            grid-template-rows: 60px;
            gap: 10px;
            margin-left: 70px;
            border: none;
            border-bottom: 1px solid black;
        }
        .count_mark {
            border: 1px solid black;
            border-radius: 50%;
            font-size: 30px;
            padding: 5px 0 0 15px;
            margin-top: 10px;
        }
        #signed div:nth-child(2) h2{
            font-family: Playfair Display;
            font-size: 24px;
            font-weight: 400;
        }
        #signed div:nth-child(3) h2{
            font-family: Playfair Display;
            font-size: 24px;
            font-weight: 400;
        }
        #review_disp1{
            width: 88%;
            height: 85px;
            border: 1px solid black;
            display: grid;
            grid-template-columns: 50px 300px;
            grid-template-rows: 60px;
            gap: 10px;
            margin-left: 70px;
            border: none;
            border-bottom: 1px solid black;
        }
        #review div:nth-child(2) h2{
            font-family: Playfair Display;
            font-size: 24px;
            font-weight: 400;
        }
        #delivery{
            width: 88%;
            display: grid;
            grid-template-columns: 50px 550px;
            grid-template-rows: 60px;
            gap: 10px;
            margin-left: 70px;
            border: none;
            border-bottom: 1px solid black;
        }
        #delivery div:nth-child(2) h2{
            font-family: Playfair Display;
            font-size: 24px;
            font-weight: 400;
        }
        #delivery p {
            font-size: 18px;
            font-family: "Playfair Display", sans-serif;
        }
        #delivery h1{
            font-family: Playfair Display;
            font-size: 28px;
            font-weight: 400;
        }
        #delivery div:nth-child(4) div div{
            width: 270px;
            height: 350px;
            border: 2px solid black;
        }
        #delivery div:nth-child(4) div div p{
            margin-left: 10px;
            font-size: 16px;
            font-family: Roboto, serif;
        }
        #address_butt{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50px;
            gap: 10px;
        }
        #address_butt button:nth-child(1), #address_butt button:nth-child(2){
            width: 100%;
            height: 45px;
            border: none;
            background-color: black;
            color: white;
        }
        #disp1{
            display: block;
        }
        
        #disp2 > tr{
            display: inline-block;
            width: 49%;
        }
        #disp2{
            display: none;
        }
        #disp2 h3{
            font-family: Playfair Display;
            font-size: 12px;
            font-weight: 500;
        }
        #disp2 p{
            font-family: Roboto, serif;
            font-size: 16px;
            font-weight: 500;
        }
        #review_disp2{
            margin-left: 70px;
            display: none;
        }
        #payment_disp1{
            width: 88%;
            display: grid;
            grid-template-columns: 50px 700px 500px;
            grid-template-rows: 60px;
            gap: 10px;
            margin-left: 70px;
            border: none;
        }
        #payment_disp2{
            width: 600px;
            margin-left: 130px;
            display: none;
        }
        tbody{
            text-align: left;
        }
        .img-width{
            height: 25px;            
        }
        .border{
            border: 1px solid black;
        }
        .text-center{
            text-align: center;
        }
        #upi{
            margin-top: 20px;
        }
        #WhatsApp{
            color: green;
            vertical-align: bottom;
        }
        #whatsapp-img{
            height: 18px;

        }
        th > h1, th > h3 {
            margin: 0px;
        }
        #payment-info{
            display: none;
        }
        #con_pay{
            margin-left: 50px;
            width: 280px;
            height: 50px;
            border: none;
            background-color: black;
            color: white;
        }
        #card-info h3{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            letter-spacing: 2px;
            text-align: center;
        }
        #card-info p:nth-child(2){
            font-family: 'Roboto', serif;
            font-size: 18px;
            text-align: center;
        }
        #nautanki{
            font-family: 'Roboto', serif;
            font-size: 16px;
            text-align: center;
        }
        #card-info div {
            margin-left: 70px;
        } 
        #pay_order{
            width: 280px;
            height: 50px;
            border: none;
            background-color: black;
            color: white;
            margin-left: 150px;
        }
        #headings {
            display: grid;
            grid-template-columns: 70% 20% 10%; 
            margin: 10px;
        }
        #parent > div {
            display: grid;
            grid-template-columns: 70% 20% 10%;
            margin : 10px;
            border-top: 1px solid #DDDDDD;
        }
        #parent > div > div {
            margin-top : 10px;
        }
        .image {
            width : 160px ;
        }
        .name {
            font-size : 18px;
            font-weight : 800;
            margin: 15px 0 5px 0;
        }
        .signs {
            display : inline-block;
            color : gray;
            margin : 5px 10px ;
            font-size: 30px;
            cursor : pointer;
        }
        .signs:hover {
            color : black;
        }
        .price {
            font-size :18px ;
            margin: 10px 0;
        } 
        .items_div{
            display : grid;
            grid-template-columns: 30% 50%;
            grid-gap: 8%;
        }
        .quantity {
            color: black;
            display : inline-block;
            border : 1px solid black;
            padding: 5px 10px; 
            font-size: 18px;
        }
        .remove_btn {
            margin: 15px 20px ;
            background: transparent;
            font-family:  sans-serif;
            font-size: 15px;
            padding-bottom : 5px;
            border: none;
            border-bottom: 1px solid black;
            cursor: pointer;
        }
        .remove_btn_hover {
            margin: 15px 20px;
            background: transparent;
            font-family:  sans-serif;
            font-size: 15px;
            padding-bottom : 1px;
            border: none;
            border-bottom: 1px solid black;
            transition: transform .3s ease-in-out ;
            cursor: pointer;
        }
        #text-area {
            margin-left: 10px;
            display: none;
        }
        #edit{
            width : 120px;
            height : 40px;
            margin-left: 10px;
            background: black;
            color: white;
            border: 1px solid black;

        }
    </style>
</head>
<body>
    <div id = "page_layout">
        <div id = "place_order">
            <h3>PLACE YOUR ORDER IN 4 EASY STEPS</h3>
        </div>
        <div id = "page_layout2">
            <div id = "signed">
                <div class = "count_mark">
                    &#10003;
                </div>
                <div>
                    <h2>SIGNED IN AS</h2>
                </div>
                <div>
                    <h2 id = "billie">wattamwargaj@gmail.com</h2>
                </div>
            </div>

            <div id = "delivery">
                <div id = "2nd_count_mark" class='count_mark'>
                    2
                </div>
                <div>
                    <h2 id = "oncl">DELIVERY INFORMATION</h2>
                </div>
                <div>&nbsp;</div>
                <div id = "disp1">
                    <div>
                        <p>In order to deliver your order, we need to gather some information from you. Please fill the form below.</p>
                
                        <h1>YOUR ADDRESS</h1>
                        <div>
                            <p id = "username_ch"></p>
                            </br>
                            <p id = "name-1"></p>
                            <p id = "mob-1"></p>
                            
                            <p id="add-1"></p>
                            <textarea id="text-area" placeholder="Edit Address" rows="6"></textarea>
                            </br>
                            <button onclick="addAddress()" id='edit'>Edit Address</button >
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div id = "address_butt">
                        <button onclick="infoDone()" >USE SELECTED ADDRESS</button>
                        <button>DELIVERY TO NEW ADDRESS</button>
                    </div>
                </div>
                
                    <table id = "disp2">
                        <tr>
                            <td style="width: 150px;">CONTACT DETAILS</td>
                            <td></td>
                            <td>ADDRESS DETAILS</td>
                        </tr>
                        <tr>
                            <td id="name-2"></td>
                            <td></td>
                            <td id="add-2"></td>
                        </tr>
                        <tr>
                            <td id='mob-2'></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="email"></td>
                            <td></td>
                        </tr>
                    </table>
            </div>
            <div id = "review">
               <div id='review_disp1'>
                    <div id = "3rd_count_mark" class='count_mark'>
                        3
                    </div>
                    <div>
                        <h2 onclick="">ORDER REVIEW</h2>
                    </div>
               </div>
                <div id = "review_disp2">
                    <h3>Please review your order to ensure your details are correct.</h3>    
                    <h3>If you have reviewed your order, you can proceed to the next stage and make the payment.</h3>
                    <div id="not_empty_cart">
                        <div id="count"></div>             
                        <div id="cart_main">
                            <div id="items_details">
                                 <div id="headings">
                                     <div>ITEM(S)</div>
                                    <div>QUANTITY</div>
                                    <div>TOTAL</div>
                                </div>                          
                                 <div id="parent"></div>
                            </div>                                         
                        </div>
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="4">ORDER SUBTOTAL</th>
                                <th id="f_amount_1"></th>
                            </tr>
                            <tr>
                                <th colspan="4">DISCOUNT</th>
                                <th>0</th>
                            </tr>
                            <tr>
                                <th colspan="4">SHIPPING</th>
                                <th>FREE</th>
                            </tr>
                            <tr>
                                <th colspan="4">
                                    <h1>YOU PAY</h1>                                    
                                </th>
                                <th><h1 id="f_amount_2"></h1></th>
                            </tr>
                            <tr><th><h3>INCLUSIVE OF ALL TAXES*</h3></th></tr>
                        </tbody>
                    </table>
                    <button onclick="gotoPayment()" id = "con_pay">CONTINUE TO PAYMENT</button>
                </div>
            </div>

            <div id = "payment">
                <div id="payment_disp1">
                    <div id = "4th_count_mark" class='count_mark'>
                        4
                    </div>
                    <div>
                        <h2>PAYMENT INFORMATION</h2>
                    </div>
                    <div id='payment-info'>
                        <h1>TOTAL BREAKDOWN</h1>
                        <table>
                            <tbody>
                                <tr>
                                    <th colspan="4">ORDER SUBTOTAL</th>
                                    <th id='f_amount_3'></th>
                                </tr>
                                <tr>
                                    <th colspan="4">DISCOUNT</th>
                                    <th>0</th>
                                </tr>
                                <tr>
                                    <th colspan="4">SHIPPING</th>
                                    <th>FREE</th>
                                </tr>
                                <tr>
                                    <th colspan="4">
                                        <h1>YOU PAY</h1>
                                        
                                    </th>
                                    <th><h1 id='f_amount_4'></h1></th>
                                </tr>
                                <tr><th><p>INCLUSIVE OF ALL TAXES*</p></th></tr>
                                <tr><th><input type="checkbox"> Mobile Number * <span id='WhatsApp'><img id='whatsapp-img' src="https://www.bing.com/th?id=AMMS_dbf45ebd6b4bf7de1e499c0277c519ca&w=110&h=110&c=7&rs=1&qlt=80&pcl=f9f9f9&o=6&cdv=1&dpr=1.5&pid=16.1" alt=""> WhatsApp</span></th></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div id="payment_disp2">
                    <h3>In order to process your order, we need to gather your payment details.
                        Please select a mode of payment below. You will be securely
                        redirected to our partner site to process this order.</h3>
                    <hr>
                    <h3>You have some payment left to pay.
                        Complete your order using another payment method</h3>
                    
                    <div id='card-info' class='border'>
                        <h3>CREDIT CARD / DEBIT CARD / NET BANKING / WALLET</h3>
                    
                        <p>Use your Credit Cards, Debit Cards, Wallets or Netbanking</p>
                        
                        <div>
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/c2e24c1f-930d-453b-a829-58027175d6e8/Visa_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-c2e24c1f-930d-453b-a829-58027175d6e8-nNmx7rM" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/a49ec125-3082-47bc-aa70-3cd826536ddb/MasterCard_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-a49ec125-3082-47bc-aa70-3cd826536ddb-nNmwrR3" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/de0bafe7-d87e-46d8-8773-44a05603d1e8/Maestro_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-de0bafe7-d87e-46d8-8773-44a05603d1e8-nNmwlPn" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/b1df0c3e-c9e3-4473-b595-3037b938d69f/Rupay_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-b1df0c3e-c9e3-4473-b595-3037b938d69f-nNmwXNE" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/4239bc8b-45d3-445a-a5eb-d1f125e5f5ea/Amex_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-4239bc8b-45d3-445a-a5eb-d1f125e5f5ea-nNmvWkk" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/4393ecb6-0d51-4c8b-b4ea-f8b276a12ea1/Diners_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-4393ecb6-0d51-4c8b-b4ea-f8b276a12ea1-nNmw5Lo" alt="">
                            <img class='img-width' src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/95860dc1-e524-41b6-b912-91569181d58a/International_Razorpay.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-95860dc1-e524-41b6-b912-91569181d58a-nOygmGy" alt="">
                        </div>
                    </br>
                        <button id = "pay_order">PAY FOR YOUR ORDER</button>
                        
                        <p id = "nautanki">By placing the order, you have read and agreed the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a> of Tanishq.co.in</p>
                    </div> 
                    
                    <div id='upi' class='border'>
                        <p class='text-center'>PAY USING</p>
                        <h3 class= 'text-center'>UPI / DYNAMIC QR CODE</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
<script>

    let stage2 = document.getElementById("oncl");
    let disp1 = document.getElementById("disp1");
    let disp2 = document.getElementById("disp2");
    let payment_disp2 = document.getElementById('payment_disp2');
    let payment_info = document.getElementById('payment-info')

    stage2.onclick = () =>{
        
        if(disp1.style.display== "block"){
            disp1.style.display = "none";
            disp2.style.display = "block";
        } else {
            disp2.style.display = "none";
            disp1.style.display = "block";
        }
        
    }

    let name_ch = document.getElementById("name_ch")
    let mob_ch = document.getElementById("mob_ch")
    let email_ch = document.getElementById("email_ch")
    let username_ch = document.getElementById("username_ch")
    let review_disp2 = document.getElementById('review_disp2');
    let billie = document.getElementById("billie");
    
    function infoDone(){
        
        let test_add = document.getElementById('text-area').value ;

        console.log(test_add.length);

        if(test_add === undefined || test_add == null || test_add.length < 15){
            alert("Please enter valid delivery address") ;
        }
        else{
            let count_mark = document.getElementById('2nd_count_mark');
        
            count_mark.innerHTML = "&#10003";

            disp1.style.display = 'none';
            disp2.style.display = 'inline-block';

            review_disp2.style.display = 'block';

            showItems();

        }
    }

    function gotoPayment(){
        let count_mark = document.getElementById('3rd_count_mark');
        count_mark.innerHTML= "&#10003;";      

        review_disp2.style.display = 'none';

        
        payment_info.style.display= 'block';
        payment_disp2.style.display = 'block';
    }


    function showItems() {
        let count = document.getElementById('count')
        let cart = JSON.parse(localStorage.getItem("cart"))
        let parent = document.getElementById('parent')
  // recover data from local storage having name cart
   

  count.innerHTML = `CART : <span style="font-family : sans-serif">${cart.length}</span> ITEMS`

  let f_price = 0;

  cart.forEach(({name , price, image_url , weight }) => {


    f_price += Number(price) ;

    let main_div = document.createElement('div');

    let img_div = document.createElement('div');

    let name_div =  document.createElement('div');

    let quantity_div = document.createElement('div');

    let quantity =  document.createElement('div');
    quantity.innerHTML = "<div class='signs'>-</div> <div class='quantity'>1</div><div class='signs'>+</div> "
    quantity.setAttribute('class','quan')

   

    let p_name = document.createElement('div')
    p_name.innerHTML = name
    p_name.setAttribute('class','name')

    let code =  document.createElement('div');
    code.innerHTML = `<b>511518JCZABA002EA005967</b>`
    
    let p_img = document.createElement('img')
    p_img.src = image_url[0]
    p_img.setAttribute('class','image')

    let p_weight = document.createElement('div')
    p_weight.innerHTML = `Weight (g): ${weight}`   

    let p = document.createElement('div')
    p.setAttribute('class','price')
    p.innerHTML = `<b>₹${price}</b>`

    let total = document.createElement('div')
    total.innerHTML = `<b>₹${price}</b>`

    let remove_btn = document.createElement('button')
    remove_btn.setAttribute('class','remove_btn')
    remove_btn.innerHTML = 'Remove'
    remove_btn.onmouseover = ()=>{
      remove_btn.setAttribute('class','remove_btn_hover')
    }
    remove_btn.onmouseleave = ()=>{
      remove_btn.setAttribute('class','remove_btn')
    }
    remove_btn.onclick =  () =>{
      setTimeout(()=>{
        removeItem(name,main_div,parent)
      },500)
    }
    let items_div = document.createElement('div')

    img_div.append(p_img);

    name_div.append(p_name ,code, price,p_weight )

    items_div.append(p_img , name_div)
    items_div.setAttribute('class','items_div')

    quantity_div.append(quantity, remove_btn)

    main_div.append(items_div, quantity_div , total)

    parent.append(main_div);
  

  })

  console.log(f_price)

  let alpha = document.getElementById("f_amount_1");
  alpha.innerText = f_price ;
  
  let beta = document.getElementById("f_amount_2");
  beta.innerText = f_price ;

  let charlie = document.getElementById("f_amount_3");
  charlie.innerText = f_price ;

  let delta = document.getElementById("f_amount_4");
  delta.innerText = f_price ;

      // let products = JSON.parse(localStorage.getItem("cart"));
     

  }
// let amount = JSON.parse(localStorage.getItem('total'));
// console.log('this is the amount',amount);

// let amount_arr = document.querySelectorAll('.amount');

// amount_arr.forEach( (el) => {
//     console.log(el);
//     el.innerText = '₹' + amount;
// })




const showUser =()=>{
    let {user : {title , first_name , last_name , contact,email}} = JSON.parse(localStorage.getItem("user"))
    // console.log('user',title)

    let billie = document.getElementById("billie")
    billie.innerHTML = `${email}`

    let email2 = document.getElementById("email")
    email2.innerHTML = `${email}`

    let name = document.getElementById("name-1")
     name.innerHTML = `${title} ${first_name} ${last_name}`

     let name2 = document.getElementById("name-2")
     name2.innerText = `${title} ${first_name} ${last_name}`

     let mob = document.getElementById("mob-1")
     mob.innerHTML = `+${contact}`

let mob2 = document.getElementById("mob-2")
mob2.innerHTML = `+${contact}`
}
showUser()


function addAddress(){
    console.log("click")
    let btn = document.getElementById("edit")
    let text = document.getElementById("text-area")
    let add = document.getElementById("add-1")

    let add2 = document.getElementById("add-2")
    let ans = document.getElementById("text-area").value
    if (btn.innerHTML === "Edit Address"){
        add.style.display = "none"
        text.style.display = "block"
        btn.innerHTML = "Save"

    } else if ( btn.innerHTML === "Save"){
        add.style.display = "block"
        text.style.display = "none"
      add.innerHTML = ans
      add2.innerHTML = ans
        btn.innerHTML = "Edit Address"
    }
}

let order_btn = document.getElementById('pay_order');

order_btn.onclick = ()=>{
    window.location.href = 'congratulationpage.html';
}
</script>