<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="styles/signup.css">
</head>
<body>
    <div id="page">
        <div id="logo">
            <img src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/4417c959-3482-4f71-942a-a12e015997b6/tanishq.svg?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-4417c959-3482-4f71-942a-a12e015997b6-nv8w2CB">
        </div>
        <div id="sign">
            <div id="s">SIGNUP</div>
            <form id="signup-form">
                <select name="prefix" id="gender" aria-placeholder="Title">
                    <option value="Mr">Mr</option>
                    <option value="MS">Ms</option>
                </select>
                <input type="text" id="firstname" placeholder="FIRST NAME">
                <input id="lastname" placeholder="LAST NAME">
                <select name="code" id="code" >
                    <option>91</option>
                    <option>61</option>
                    <option>1</option>
                </select>
                <input type="tel" id="number" placeholder="MOBILE NUMBER"> 
                <input type="email" id="email" placeholder="EMAIL ID"/>
                <input type="password" id="password" placeholder="PASSWORD"/>
                <div id="ch">
                    <div><input type="checkbox" id="ch1"/>Receive our newsletters and special offers.</div>
                    <div><input type="checkbox" id="ch1"/>Get updates on.</div> 
                    <div><input type="checkbox" id="ch1"/>I agree to the Terms & Conditions * and Privacy Policy.</div>
                </div>    
                <button onclick="reg(event)" id="button"><a href="loginpage.html">REGISTER</a></button>
            </form>
        </div>
    </div>        
</body>
</html>

<script>
    /*function signup(e){
    e.preventDefault();

    let form = document.getElementById("signup-form");

    var user_data = {

        firstname : form.firstname.value,
        lastname : form.lastname.value,
        mobile : form.number.value,
        email : form.email.value,
        password : form.password.value,
    };
    console.log("user-data:",user_data);
}*/

if(localStorage.getItem("signup")===null){
    localStorage.setItem("signup",JSON.stringify([]))
}


function reg(event){
    //event.preventDefault();

    var firstname = document.getElementById("firstname").value;
    //var lastname =  document.getElementById("lastname").value;
    //var mobile = document.getElementById("number").value;
    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;

    /*if(firstname !== "" && lastname !== "" && mobile !==""&& email!=="" && password !==""){
        alert("login succesfully")
    }else{
        alert("login unsuccessfully");
    }*/
    let signup_details = JSON.parse(localStorage.getItem("signup"));
    
    //signup_details.push(firstname);
    //signup_details.push(email);
    //signup_details.push(password);
    var user_data = {

        first_name : firstname,
        e_mail : email,
        pass_word : password,
    };
    signup_details.push(user_data);

    localStorage.setItem("signup",JSON.stringify(signup_details))
    console.log("signup",signup);
    window.location.href="loginpage.html"
}
</script>